.navbar-brand > img {
    max-height: 200%;
    height: 200%;
    width: auto;
    margin: 0 auto;
}

header {
    text-align: justify;
    letter-spacing: 1px;
    height: 100px;
    background: #2c3e50;
    color: #fff;
    margin-bottom: 0px;
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

footer {
    margin-top: 0px;
    text-align: justify;
    letter-spacing: 1px;
    height: 142px;
    background: #2c3e50;
    color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
}

.no-gutter > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.add-logo :hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.bookmark {
    height: 302px;
    width: 170px;
    opacity: 0.9;
    margin: 5px 0;
    overflow: hidden;
    flex: 1 1 auto;
    position: relative;
}

.bookmark:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.bookmark-icon {
    width: 162px;
    height: 220px;
    position: relative;
}

.bookmark-icon > img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 7px;
}

.bookmark-content {
    padding: 2px;
    height: 230px;
}

.bookmark-content > p {
    width: 100%;
    height: 40px;
    color: #000000;
    position: absolute;
    left: 0;
    margin-bottom: 2px;
    right: 0;
    text-align: center;
    bottom: 2px;
    font-weight: 400;
    font-size: 14px;
}

.bookmark-name {
    white-space: pre-wrap;
    overflow: hidden;
    padding: 2px;
    text-overflow: ellipsis;
}

.test {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.link_genre {
    margin-bottom: 5px;
    margin-left: 20px;
}

.link_color {
    text-decoration-color: red;
    font-weight: 700;
    font-family: "Comic Sans MS";
}

.wrapper {
    background-color: #d9dfca;
}

.book-parameter {
    font-size: 12px;
    margin-top: 20px;
    margin-left: 20px;
}

h3 {
    margin-top: 5px;
    font-weight: bold;
}

A {
    color: #8c600a;
}

A:visited {
    color: #8c600a;
}

A:active {
    color: darkgreen;
}

A:hover {
    text-decoration: underline;
    color: rosybrown;
}

/*=====Rating book=====*/

.rating-holder {
    width: 180px;
    position: relative;
}

.rating-holder .passive-rating-holder {
    position: relative;
    width: 178px;
    height: 32px;
    left: 60%;
    margin-left: -108px;
    display: block;
}

.rating-holder .passive-rating-holder > div {
    position: absolute;
    left: 0;
    top: 0;
    height: 37px;
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-size: 178px;
}

.rating-holder .passive-rating-holder .rating-bg {
    background-position: 0 0;
    width: 178px;
    z-index: 1;
}

.rating-holder .passive-rating-holder .rating-mask {
    background-position: 0 -41px;
    z-index: 99;
}

.rating-holder .rate-numbers {
    text-align: center;
    width: 100%;
    color: #767676;
    font-size: 14px;
}

.rating-holder .rate-numbers .rating-value {
    color: #2d2d2d;
    font-size: 26px;
}

.rating-holder .rate-numbers .best-rating {
    margin-bottom: 4px;
    display: inline-block;
    font-size: 20px;
}

.rating-holder .user-rating-holder {
    opacity: 0;
    transition: .1s;
}

.rating-holder:hover .user-rating-holder, .rating-holder.voted .user-rating-holder {
    opacity: 1;
    transition: .1s;
}

.rating-holder .user-rating {
    position: absolute;
    top: 0;
    left: 0;
    /*padding: 10px 16px;*/
    cursor: pointer;
    z-index: 9999;
    background-color: #ffffff;
    border-radius: 5px;
    width: 178px;
    height: 32px;
}

.rating-holder.voted .user-rating {
    background-color: #598a86;
}

/*.rating-holder.voted .vote {*/
    /*pointer-events: none;*/
/*}*/

.rating-holder .voting-holder {
    direction: rtl;
    position: relative;
}

.rating-holder .vote {
    transition: .2s;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 99999;
    width: 35px;
    height: 31px;
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 178px;
}

.rating-holder .vote:hover ~ .vote, .vote.active ~ .vote {
    transition: .2s;
    background-position: 0 -41px;
}

.rating-holder .vote:hover, .rating-holder.voted .vote.active {
    transition: .2s;
    background-position: 0 -81px;
}

.rating-holder .vote.onestar {
    left: 80%;
}

.rating-holder .vote.twostar {
    left: 60%;
}

.rating-holder .vote.threestar {
    left: 40%;
}

.rating-holder .vote.fourstar {
    left: 20%;
}

.rating-holder .vote.fivestar {
    left: 0;
}
/*==============*/
