<footer xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-md-4 twitter">
                <h3>Date</h3>
                <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
            </div>
            <div class="col-md-2 sitemap">
                <h3>Sitemap</h3>
                <div class="row">
                    <div class="col-md-6">
                        <a th:href="@{/}">Home</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pull-right">
                <h3>Copyright</h3>
                <div class="row">
                    <p>Copyright © 2012 Whitesquare.</p>
                </div>
            </div>
        </div>
    </div>
</footer>