<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/angular-route.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dirPagination.js}"></script>
    <script type="text/javascript" th:src="@{/js/tether.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/library.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Main Page</title>
</head>
<body ng-app="library">
<div th:replace="header :: header"></div>
<div class="wrapper">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-md-12 no-gutter">
                <div class="col-md-2">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle text-margin link_color" type="button"
                                data-toggle="dropdown" th:text="${'...Все Жанры...'}">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li th:each="genre : ${genres}">
                                <a th:href="@{'#!/genre/' + ${genre.id}}" th:text="${genre.genre}"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="link_genre" th:each="genre, iterator : ${genres}">
                        <div th:if="${iterator.index} < 20">
                            <a th:href="@{'#!/genre/' + ${genre.id}}" th:text="${genre.genre}"></a>
                            <span th:text="${genre.countBooks}"></span>
                        </div>
                    </div>
                </div>

                <div class="row col-md-10" ng-view style="background: #d6a9a9"></div>

            </div>
        </div>
    </div>
    <div th:replace="footer :: footer"></div>
</div>
</body>
</html>